.container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addtask {
  display: flex;
  gap: 10px;
}
.inputtask {
  padding-left: 5px;
  width: 210px;
  height: 50px;
}
.addbutton {
  width: 60px;
  height: 50px;
  background-color: #3c82f6;
  color: white;
  border-radius: 5px;
  border: 0;
}
.checkbox {
  width: 20px;
  height: 20px;
}
.list {
  width: 360px;
  height: 50px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: start;
  align-items: center;
  background-color: #f9fafb;
  padding: 5px;
}
.listbtn {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.button {
  display: none;
}
.list:hover .button {
  display: block;
}
.list button {
  width: 67px;
  height: 30px;
  color: red;
  background-color: #fef2f2;
  border-radius: 3px;
  border: 0;
}
.todolist {
  display: flex;
  flex-direction: column;

  gap: 10px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.buttons button {
  width: 80px;
  height: 40px;
  background-color: #f3f4f6;
  border-radius: 5px;
  border: 0px;
  color: #6b7280;
}

.checked {
  text-decoration: line-through;
}
.taskmsg {
  display: flex;
  flex-direction: row;
  gap: 110px;

  color: #6b7280;
}
.taskmsg button {
  color: #ef4444;
  background-color: white;
  border: 0;
}
.footer {
  display: flex;
  flex-direction: row;
  gap: 3px;
}
.footer > p:nth-child(1) {
  color: #6b7280;
}
.footer > p:nth-child(2) {
  color: #3b73ed;
}
.clicked {
  background-color: #3c82f6;
}
