body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tictac {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tictac div {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
